<template>
  <section class="basic" id="basic">
    <div class="container">
      <h2 class="section-title">Основы</h2>
      <p class="section-description">Правильно организованное питание</p>
      <div class="lunch-list">
        <div class="lunch-list__item">
          <picture>
            <img src="../assets/images/apple.svg" alt="Яблоко" />
          </picture>
          <p>
            В числе задач, стоящих перед пищевой промышленностью и предприятиями
            общественного питания, имеются, в частности, и такие, как увеличение
            производства консервированных фруктов и овощей для максимально
            возможной ликвидации сезонных спадов в их потреблении; рост
            использования бобовых; увеличение потребления населением океанской
            рыбы; постепенное вытеснение водки виноградным вином и пивом;
            расширение производства фруктовых и ягодных соков.
          </p>
        </div>
        <div class="lunch-list__item">
          <picture><img src="../assets/images/bread.svg" alt="Хлеб" /></picture>
          <p>
            В числе задач, стоящих перед пищевой промышленностью и предприятиями
            общественного питания, имеются, в частности, и такие, как увеличение
            производства консервированных фруктов и овощей для максимально
            возможной ликвидации сезонных спадов в их потреблении; рост
            использования бобовых; увеличение потребления населением океанской
            рыбы; постепенное вытеснение водки виноградным вином и пивом;
            расширение производства фруктовых и ягодных соков.
          </p>
        </div>
        <div class="lunch-list__item">
          <picture>
            <img src="../assets/images/cheease.svg" alt="Сыр" />
          </picture>
          <p>
            В числе задач, стоящих перед пищевой промышленностью и предприятиями
            общественного питания, имеются, в частности, и такие, как увеличение
            производства консервированных фруктов и овощей для максимально
            возможной ликвидации сезонных спадов в их потреблении; рост
            использования бобовых; увеличение потребления населением океанской
            рыбы; постепенное вытеснение водки виноградным вином и пивом;
            расширение производства фруктовых и ягодных соков.
          </p>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.lunch-list {
  display: flex;
  gap: 40px;
  padding: 53px 70px;
  background-color: var(--light-gray);
  text-align: left;
  border-radius: 20px 0 20px 0;
}

.lunch-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.lunch-list__item p {
  font-family: PT-Root-UI-Normal;
  font-size: 16px;
}

.lunch-list__item picture {
  display: flex;
  width: auto;
  height: 160px;
}

.lunch-list__item img {
  object-fit: cover;
}

.basic {
  padding-bottom: 80px;
}

@media screen and (max-width: 768px) {
  .lunch-list {
    flex-direction: column;
  }
}
</style>
