<template>
  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__list-item">
        <a class="nav__list-link nav__list-link--active" href="#basic"
          >Основы</a
        >
      </li>
      <li class="nav__list-item">
        <a class="nav__list-link" href="#standarts">Нормативы</a>
      </li>
      <li class="nav__list-item">
        <a class="nav__list-link" href="#question">Вопросы</a>
      </li>
    </ul>
  </nav>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.nav__list {
  display: flex;
  justify-content: center;
  gap: 60px;
  list-style: none;
}

.nav__list-link {
  position: relative;
  color: var(--black);
  text-decoration: none;
  font-size: 16.8px;
}

.nav__list-link::after {
  position: absolute;
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-color: var(--white);
  border-radius: 50%;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.nav__list-link--active::after {
  background-color: var(--red);
}
</style>
