<template>
  <section class="question" id="question">
    <div class="container">
      <h2 class="section-title">Вопросы</h2>
      <p class="section-description">
        Всё что вы хотели знать о правильном питании
      </p>

      <div class="accordion">
        <div class="accordion__item">
          <h3 @click="showAccordeonBody" class="accordion__head">
            Безопасно ли облизывать колотушки миксера?
          </h3>
          <p class="accordion__description">
            Один из самых острых вопросов современной пищевой эпохи: можно ли
            облизывать колотушки миксера, если вы взбивали сырое тесто для
            печенья или даже глотать сырые яйца целиком, хотя те, кого это
            интересует, составляют меньшинство. Некоторые выступают против того,
            чтобы облизывать колотушки, и тому подобного, а другие считают, что
            это помогает строить иммунную систему, и что риск довольно мал. Те,
            кто против этого, утверждают, что вы рискуете получить сальмонеллу и
            что риск этого довольно велик, особенно когда речь идет о
            безопасности ваших детей. Тем не менее, большинство людей с сильным
            иммунитетом легко справятся с сальмонеллой без каких-либо
            осложнений, поэтому противники данного утверждения считают, что риск
            заразиться чрезвычайно низок. Они говорят, что нет никакой веской
            причины, чтобы не облизывать колотушки. По их мнению, есть много
            других вещей, которые убьют вас с большей вероятностью.
          </p>
        </div>
        <div class="accortion__item">
          <h3 @click="showAccordeonBody" class="accordion__head">
            Можно ли класть ананас в пиццу?
          </h3>
          <p class="accordion__description">
            Один из самых острых вопросов современной пищевой эпохи: можно ли
            облизывать колотушки миксера, если вы взбивали сырое тесто для
            печенья или даже глотать сырые яйца целиком, хотя те, кого это
            интересует, составляют меньшинство. Некоторые выступают против того,
            чтобы облизывать колотушки, и тому подобного, а другие считают, что
            это помогает строить иммунную систему, и что риск довольно мал. Те,
            кто против этого, утверждают, что вы рискуете получить сальмонеллу и
            что риск этого довольно велик, особенно когда речь идет о
            безопасности ваших детей. Тем не менее, большинство людей с сильным
            иммунитетом легко справятся с сальмонеллой без каких-либо
            осложнений, поэтому противники данного утверждения считают, что риск
            заразиться чрезвычайно низок. Они говорят, что нет никакой веской
            причины, чтобы не облизывать колотушки. По их мнению, есть много
            других вещей, которые убьют вас с большей вероятностью.
          </p>
        </div>
        <div class="accortion__item">
          <h3 @click="showAccordeonBody" class="accordion__head">
            Насколько важно уважать культурные корни еды?
          </h3>
          <p class="accordion__description">
            Один из самых острых вопросов современной пищевой эпохи: можно ли
            облизывать колотушки миксера, если вы взбивали сырое тесто для
            печенья или даже глотать сырые яйца целиком, хотя те, кого это
            интересует, составляют меньшинство. Некоторые выступают против того,
            чтобы облизывать колотушки, и тому подобного, а другие считают, что
            это помогает строить иммунную систему, и что риск довольно мал. Те,
            кто против этого, утверждают, что вы рискуете получить сальмонеллу и
            что риск этого довольно велик, особенно когда речь идет о
            безопасности ваших детей. Тем не менее, большинство людей с сильным
            иммунитетом легко справятся с сальмонеллой без каких-либо
            осложнений, поэтому противники данного утверждения считают, что риск
            заразиться чрезвычайно низок. Они говорят, что нет никакой веской
            причины, чтобы не облизывать колотушки. По их мнению, есть много
            других вещей, которые убьют вас с большей вероятностью.
          </p>
        </div>
        <div class="accortion__item">
          <h3 @click="showAccordeonBody" class="accordion__head">
            Безопасно ли облизывать колотушки миксера?
          </h3>
          <p class="accordion__description">
            Один из самых острых вопросов современной пищевой эпохи: можно ли
            облизывать колотушки миксера, если вы взбивали сырое тесто для
            печенья или даже глотать сырые яйца целиком, хотя те, кого это
            интересует, составляют меньшинство. Некоторые выступают против того,
            чтобы облизывать колотушки, и тому подобного, а другие считают, что
            это помогает строить иммунную систему, и что риск довольно мал. Те,
            кто против этого, утверждают, что вы рискуете получить сальмонеллу и
            что риск этого довольно велик, особенно когда речь идет о
            безопасности ваших детей. Тем не менее, большинство людей с сильным
            иммунитетом легко справятся с сальмонеллой без каких-либо
            осложнений, поэтому противники данного утверждения считают, что риск
            заразиться чрезвычайно низок. Они говорят, что нет никакой веской
            причины, чтобы не облизывать колотушки. По их мнению, есть много
            других вещей, которые убьют вас с большей вероятностью.
          </p>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {},
  methods: {
    showAccordeonBody(evt) {
      evt.target.classList.toggle("active");
    },
  },
};
</script>

<style lang="scss" scoped>
.question {
  padding-top: 60px;
  padding-bottom: 404px;
}

.accordion {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.accordion__head {
  position: relative;
  padding: 16px 50px 16px 70px;
  background-color: var(--light-gray);
  font-family: PT-Root-UI-Normal;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.accordion__head::after {
  position: absolute;
  content: url("../assets/images/arrow.svg");
  right: 49px;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
}

.accordion__head.active::after {
  transform: translateY(-50%) rotate(0deg);
}

.accordion__head.active .accordion__description {
  display: block;
}

.accordion__description {
  display: none;
  padding: 24px 519px 24px 70px;
  font-family: PT-Root-UI-Normal;
  font-weight: 400;
  font-size: 16px;
}

.accordion__head.active + .accordion__description {
  display: block;
}

@media screen and (max-width: 768px) {
  .question {
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url(../assets/images/bottom-bg.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: contain;
  }

  .accordion__head {
    position: relative;
    padding: 16px 44px 16px 44px;
    background-color: var(--light-gray);
    font-family: PT-Root-UI-Normal;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
  }

  .accordion__description {
    display: none;
    padding: 24px;
    font-weight: 400;
    font-size: 16px;
  }
}
</style>
