<template>
  <section class="standarts" id="standarts">
    <div class="container">
      <h2 class="section-title">Нормативы</h2>
      <p class="section-description">
        Нормативы <br />
        правильного питания
      </p>
      <div class="standarts-list">
        <img
          width="593"
          height="542"
          class="products-bg"
          src="../assets/images/products.png"
          alt="Продукты"
        />
        <div class="standarts-list__wrapper">
          <div class="standarts-list__item">
            <h3>Нормативы правильного питания</h3>
            <p>Список нормативов от 12.04.1957</p>
            <img
              width="50"
              height="66"
              src="../assets/images/standarts.svg"
              alt="Стандарт"
            />
          </div>
          <div class="standarts-list__item">
            <h3>Нормативы правильного питания</h3>
            <p>Список нормативов от 12.04.1957</p>
            <img
              width="50"
              height="66"
              src="../assets/images/standarts.svg"
              alt="Стандарт"
            />
          </div>
          <div class="standarts-list__item">
            <h3>Нормативы правильного питания</h3>
            <p>Список нормативов от 12.04.1957</p>
            <img
              width="50"
              height="66"
              src="../assets/images/standarts.svg"
              alt="Стандарт"
            />
          </div>
          <div class="standarts-list__item">
            <h3>Нормативы правильного питания</h3>
            <p>Список нормативов от 12.04.1957</p>
            <img
              width="50"
              height="66"
              src="../assets/images/standarts.svg"
              alt="Стандарт"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.standarts .section-description {
  margin-bottom: 50px;
}

.standarts-list {
  position: relative;
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  flex-wrap: wrap;
  padding-right: 20px;
}

.standarts-list__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width: 565px;
}

.standarts-list__item {
  display: flex;
  flex-direction: column;
  flex-basis: calc(50% - 16px);
  padding: 16px 23px 23px 23px;
  background-color: var(--light-gray);
  border-radius: 20px 0 20px 0;
}

.standarts-list__item h3 {
  max-width: 118px;
  margin-bottom: 8px;
  font-size: 20px;
  text-align: left;
}

.standarts-list__item p {
  max-width: 118px;
  margin-bottom: 28px;
  font-size: 16px;
  font-family: PT-Root-UI-Normal;
  text-align: left;
}

.standarts-list__item img {
  width: 50px;
  align-self: flex-end;
}

.products-bg {
  position: absolute;
  width: 593px;
  left: -70px;
}

@media screen and (max-width: 768px) {
  .standarts-list {
    flex-direction: column;
    padding-right: 0;
  }

  .products-bg {
    position: relative;
    width: 90%;
    left: 50%;
    margin-bottom: 40px;
    transform: translateX(-50%);
  }

  .standarts-list__wrapper {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .standarts-list__item {
    width: 90%;
  }
}
</style>
