<template>
  <!--  <img alt="Vue logo" src="./assets/logo.png" />-->
  <!--  <HelloWorld msg="Welcome to Your Vue.js App" />-->

  <header class="header">
    <div class="container">
      <!-- Navigation Component-->
      <Nav />

      <div class="header-about">
        <h1>
          О вкусной <br />
          и здоровой еде
        </h1>
        <p class="about__description">
          Питание является одним из основных условий существования человека, а
          проблема питания — одной из основных проблем человеческой культуры.
        </p>
      </div>
    </div>
  </header>
  <main>
    <Basic />
    <Standarts />
    <Question />
  </main>
</template>

<script>
import Nav from "./components/Nav.vue";
import Basic from "./components/Basic";
import Standarts from "./components/Standarts";
import Question from "./components/Question";

export default {
  name: "App",
  components: {
    Nav,
    Basic,
    Standarts,
    Question,
  },
  methods: {},
};
</script>

<style lang="scss">
@font-face {
  font-family: "PT-Root-UI-Bold";
  src: url("./assets/fonts/PTRoot/Ptrootuibold.woff") format("woff"),
    url("./assets/fonts/PTRoot/Ptrootuibold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PT-Root-UI-Normal";
  src: url("./assets/fonts/PTRoot/Ptrootuimedium.woff") format("woff"),
    url("./assets/fonts/PTRoot/Ptrootuimedium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

:root {
  --bg: #e5e5e5;
  --black: #000;
  --red: #ff5f33;
  --light-gray: #f3f3f3;
  --white: #fff;
}

body {
  background-color: var(--bg);
  font-family: PT-Root-UI-Bold;
  background: url(./assets/images/bg-image.png) right top no-repeat,
    url(./assets/images/bottom-bg.svg) left bottom no-repeat;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
}

.container {
  width: 100%;
  max-width: 1197px;
  margin: 0 auto;
}

header {
  padding: 40px 0;
}

.header .nav {
  margin-bottom: 165px;
}

.header-about {
  max-width: 520px;
  padding: 0 65px;
  h1 {
    font-size: 54.88px;
    line-height: 65px;
    margin-bottom: 30px;
  }
}

.about__description {
  font-family: PT-Root-UI-Normal;
  font-size: 20px;
  opacity: 0.6;
}

main {
  padding-top: 192px;
  text-align: center;
}

.section-title {
  color: var(--red);
  font-size: 20px;
}

.section-description {
  display: block;
  max-width: 479px;
  margin: 0 auto;
  font-size: 40px;
  margin-bottom: 55px;
}

@media screen and (max-width: 768px) {
  body {
    background-color: var(--bg);
    font-family: PT-Root-UI-Bold;
    background-image: url(./assets/images/fruits.png);
    background-position: center top 120px;
    background-repeat: no-repeat;
    background-size: 200px;
  }

  main {
    padding-top: 40px;
  }

  .container {
    padding: 0px 15px;
  }

  .header .nav {
    margin-bottom: 250px;
  }

  .header-about h1 {
    font-size: 45px;
    text-align: center;
  }
}
</style>
